---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getTranslation, getLocaleFromParams } from '@/i18n/i18n';
import i18nConfig from '@/i18n/i18nConfig';

export function getStaticPaths() {
  return i18nConfig.locales.map((locale) => ({ params: { locale } }));
}

const locale = getLocaleFromParams(Astro.params);
const t = await getTranslation(locale);
---

<BaseLayout locale={locale} title={t('pages.legal-mentions.name')}>
  <div class="section mdx-content">
    {locale === 'fr' ? (
      <>
        <h1>Mentions Légales</h1>
        <h2>GDG Nantes</h2>
        <p>Association loi 1901</p>
        <p>Siège social : 2 Pl. Louis Daubenton, 44100 Nantes</p>
        <p>SIRET : 81203357900036</p>
        <p>Présidente : Annabelle Koster</p>
        <h2>Hébergement</h2>
        <p>Ce site est hébergé par Google Cloud Platform, rue de Londres 75009 Paris</p>
        <h2>Conception et réalisation</h2>
        <p>Direction éditoriale : GDG Nantes</p>
        <p>Photographies : GDG Nantes</p>
        <p>Développement et intégration : GDG Nantes</p>
        <p>Web design : GDG Nantes</p>
        <h2>Confidentialité</h2>
        <p>La loi Informatique et Libertés du 06 janvier 1978 vous permet à tout moment de modifier ou supprimer les renseignements liés vous concernant et stockés dans nos bases de données. GDG Nantes respecte la législation française sur la protection de la vie privée.</p>
        <p>Selon l'article 34 de la loi « Informatique et Libertés », vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Pour exercer ce droit, merci de nous contacter directement à l'adresse mydata@gdgnantes.com</p>
      </>
    ) : (
      <>
        <h1>Legal Mentions</h1>
        <h2>GDG Nantes</h2>
        <p>Association under the 1901 law</p>
        <p>Head office: 2 Pl. Louis Daubenton, 44100 Nantes</p>
        <p>SIRET: 81203357900036</p>
        <p>President: Annabelle Koster</p>
        <h2>Hosting</h2>
        <p>This site is hosted by Google Cloud Platform, rue de Londres 75009 Paris</p>
        <h2>Design and realization</h2>
        <p>Editorial direction: GDG Nantes</p>
        <p>Photographs: GDG Nantes</p>
        <p>Development and integration: GDG Nantes</p>
        <p>Web design: GDG Nantes</p>
        <h2>Privacy</h2>
        <p>The Data Protection Act of January 6, 1978 allows you to modify or delete information about you stored in our databases at any time. GDG Nantes respects French legislation on privacy protection.</p>
        <p>According to Article 34 of the "Data Protection Act", you have the right to access, modify, rectify, and delete data concerning you. To exercise this right, please contact us directly at the address mydata@gdgnantes.com</p>
      </>
    )}
  </div>
</BaseLayout>

<style>
  .mdx-content a { color: var(--secondary); font-weight: 500; }
  .mdx-content a:hover { text-decoration: underline; }
</style>
