---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getTranslation } from '@/i18n/i18n';
const locale = 'en';
const t = await getTranslation(locale);
---

<BaseLayout locale={locale} title={t('pages.code-of-conduct.name')}>
  <div class="section mdx-content">
    <h1>Code of Conduct</h1>
    <p>The GDG Nantes (Organisers of DevFest Nantes) is proud to be an open community that respects differences and diversity. We want all attendees (attendees, speakers, …) to have an enjoyable and fulfilling experience.</p>
    <p><strong>This implies that all attendees, speakers, sponsors and volunteers should respect this code of conduct.</strong></p>

    <hr />

    <h2>Light version of explicit "Code of Conduct policy"</h2>
    <p>DevFest Nantes is dedicated to providing a <strong>harassment-free</strong> conference experience for everyone, regardless of:</p>
    <ul>
      <li>Gender</li>
      <li>Gender identity and expression</li>
      <li>Sexual orientation</li>
      <li>Disability</li>
      <li>Physical appearance</li>
      <li>Body size</li>
      <li>Race</li>
      <li>Age</li>
      <li>Religion</li>
      <li>Technology choices</li>
    </ul>
    <p><strong>We do not tolerate harassment</strong> of conference participants in any form.</p>
    <p>Sexual language and imagery is not appropriate for any conference venue, including talks, codelabs, animations, parties, social networks.</p>
    <p><strong>Conference participants violating these rules may be sanctioned or expelled from the conference without a refund</strong> at the discretion of the conference organizers.</p>

    <hr />

    <h2>Longer version</h2>

    <h3>Our commitment</h3>
    <p>DevFest Nantes is dedicated to providing a harassment-free conference experience for everyone, regardless of:</p>
    <ul>
      <li>Gender</li>
      <li>Gender identity and expression</li>
      <li>Sexual orientation</li>
      <li>Disability</li>
      <li>Physical appearance</li>
      <li>Body size</li>
      <li>Race</li>
      <li>Age</li>
      <li>Religion</li>
      <li>Technology choices</li>
    </ul>
    <p>We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, codelabs, animations, parties, social networks.</p>
    <p>Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers.</p>

    <h3>What is harassment?</h3>
    <p>Harassment includes, <strong>but is not limited to</strong>:</p>
    <ul>
      <li>Verbal comments that reinforce social structures of domination, related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion, technology choices</li>
      <li>Sexual images in public spaces</li>
      <li>Deliberate intimidation, stalking, or following</li>
      <li>Harassing photography or recording</li>
      <li>Sustained disruption of talks or other events</li>
      <li>Inappropriate physical contact</li>
      <li>Unwelcome sexual attention</li>
      <li>Nudity in public spaces</li>
      <li>Advocating for, or encouraging, any of the above behaviour</li>
    </ul>
    <p><strong>Participants asked to stop any harassing behavior are expected to comply immediately.</strong></p>

    <h3>Sponsors' responsibilities</h3>
    <p>Sponsors in the expo hall, or similar activities are also subject to the anti-harassment policy.</p>
    <p>Sponsors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>
    <p><strong>A booth could be closed in case of non respect of these rules.</strong></p>

    <h3>Actions in case of violation</h3>
    <p>If a participant engages in harassing behaviour, event organisers retain the right to take any actions to keep the event a welcoming environment for all participants.</p>
    <p>This includes:</p>
    <ul>
      <li>Warning the offender</li>
      <li>Expulsion from the conference with no refund</li>
    </ul>
    <p>Event organisers may take action to redress anything designed to, or with the clear impact of, disrupting the event or making the environment hostile for any participants.</p>

    <h3>Enforcement of rules</h3>
    <p>We expect participants to follow these rules:</p>
    <ul>
      <li>At <strong>all event venues</strong></li>
      <li>At <strong>all event-related social activities</strong> (slack, twitter, mailing, …)</li>
    </ul>
    <p><strong>We think people should follow these rules outside event activities too!</strong></p>

    <hr />

    <h2>🚨 Need to report an incident?</h2>
    <p>If someone bothers you in any way, we request you to immediately contact the organizers who will put in place the necessary measures.</p>
    <p><strong>We want to keep the DevFest respectful of others and make it a socially enjoyable event.</strong></p>

    <h3>How to identify trained staff?</h3>
    <p>Trained conference staff can be identified by <strong>"DevFest Safe" or "Shadow Master" t-shirts</strong>.</p>
    <img src="/images/tshirt-devfestsafe-and-orga.png" alt="T-shirt DevFest Safe" style="height: 300px; width: auto;" />
    <p>A <strong>"DevFest Safe" booth</strong> will also be set up in the lounge area to provide you with information and welcome you if you need it. This booth will be displayed on the map available on your badge.</p>
    <p>Harassment and other code of conduct violations reduce the value of our event for everyone. We want you to be happy at our event. People like you make our event a better place.</p>

    <h3>Making a personal report</h3>
    <p>You can make a personal report by contacting a staff member, identified by <strong>"DevFest Safe" or "Shadow Master" t-shirt</strong>.</p>

    <h4>What happens next?</h4>
    <p>When taking a personal report, our staff will:</p>
    <ol>
      <li><strong>Ensure you are safe</strong> and cannot be overheard</li>
      <li>May involve other event staff to ensure your report is managed properly</li>
      <li><strong>Ask you to tell us about what happened</strong> - This can be upsetting, but we'll handle it as respectfully as possible, and you can bring someone to support you</li>
      <li><strong>You won't be asked to confront anyone</strong> and we won't tell anyone who you are</li>
    </ol>
    <p>Our team will be happy to help you:</p>
    <ul>
      <li>Contact hotel/venue security</li>
      <li>Contact local law enforcement</li>
      <li>Contact local support services</li>
      <li>Provide escorts</li>
      <li>Otherwise assist you to feel safe for the duration of the event</li>
    </ul>
    <p><strong>We value your attendance.</strong></p>

    <h3>Report via email</h3>
    <p>If you make a report via email, please include:</p>
    <ul>
      <li><strong>The title format</strong>: <code>[DevFest Nantes] COC Violation</code></li>
      <li><strong>Your contact info</strong> (so we can get in touch with you if we need to follow up)</li>
      <li><strong>Date and time</strong> of the incident</li>
      <li><strong>Location</strong> of incident</li>
      <li><strong>Whether the incident is ongoing</strong></li>
      <li><strong>Description</strong> of the incident</li>
      <li><strong>Identifying information</strong> of the reported person: name, physical appearance, height, clothing, voice accent, identifying badge information such as company name, ribbons, or badge number</li>
      <li><strong>Additional circumstances</strong> surrounding the incident</li>
      <li><strong>Other people involved in or witnesses</strong> to the incident and their contact information or description</li>
    </ul>

    <h3>Confidentiality</h3>
    <p><strong>All reports will be kept confidential.</strong></p>
    <p>When we discuss incidents with people who are reported, we will anonymize details as much as we can to protect reporter privacy.</p>
    <p>However, some incidents happen in one-on-one interactions, and even if the details are anonymized, the reported person may be able to guess who made the report.</p>
    <p>If you have concerns about retaliation or your personal safety, please note those in your report. <strong>We still encourage you to report</strong>, so that we can support you while keeping our conference attendees safe.</p>
    <p>In some cases, we can compile several anonymized reports into a pattern of behavior, and take action on that pattern.</p>
    <p>In some cases we may determine that a public statement will need to be made. If that's the case, <strong>the identities of all victims and reporters will remain confidential</strong> unless those individuals instruct us otherwise.</p>

    <hr />

    <h2>📧 Contacts</h2>
    <p>In case of a conflict of interest, you can individually contact:</p>
    <p><strong>Audrey Le Mercier</strong></p>
    <ul>
      <li>audrey@gdgnantes.com</li>
    </ul>
    <p><strong>Jean-François Garreau</strong></p>
    <ul>
      <li>In charge of diversity and speakers relation / Co-founder of DevFest</li>
      <li>jef@gdgnantes.com</li>
      <li><a href="tel:+33774394918">+33 7 74 39 49 18</a></li>
    </ul>
    <p><strong>The DevFestNantes Twitter account</strong></p>
    <ul>
      <li>By dm</li>
    </ul>

    <hr />

    <h2>License</h2>
    <p>This Code of Conduct was forked from the example policy from the Geek Feminism wiki, created by the Ada Initiative and other volunteers, which is under a Creative Commons Zero license.</p>
  </div>
</BaseLayout>

<style>
  .mdx-content a { color: var(--secondary); font-weight: 500; }
  .mdx-content a:hover { text-decoration: underline; }
</style>
