---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getTranslation } from '@/i18n/i18n';
import { MenuTraiteur } from '@/components/react/MenuTraiteur';
import '@/styles/menu.scss';

const locale = 'en';
const t = await getTranslation(locale);
---

<BaseLayout locale={locale} title={`${t('pages.menu.name')} - Devfest Nantes`}>
  <div class="menu-page section">
    <MenuTraiteur client:load locale={locale} />
  </div>
</BaseLayout>
