html,
body {
  height: 100%;
}

body {
  --primary: var(--mui-palette-primary-main);
  --secondary: var(--mui-palette-secondary-main);
  --primary-dark: var(--mui-palette-primary-dark);
  --tertiary: #f4d35e;
  --tertiary-dark: #e8c547;
  --md-breakpoint: 900px;

  font-family: var(--font-roboto);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  all: unset;
  cursor: pointer;
}

.secondary,
.primary-dark {
  a {
    color: var(--secondary);
    font-weight: 500;
  }
}

a.md-link {
  color: var(--secondary);
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.MuiButtonBase-root {
  text-align: center;
}

.MuiAppBar-root,
.MuiDrawer-root > .MuiPaper-root {
  border-bottom: 2px solid var(--mui-palette-secondary-light);
}

main > div:not(.jumbo) {
  h1,
  h2 {
    &:not(.no-leaf) {
      text-align: center;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 3px;
        margin: 0 12px;
        background: var(--secondary);
      }
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 65px;
}

footer {
  margin-top: auto;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
